<form class="form-horizontal" role="form" ng-submit="createPizzaOrder()">
    <div class="form-group">
        <label for="PizzaSize" class="col-sm-2 control-label">Select a size</label>
        <div class="col-sm-10">
            <select id="base-size" ng-model="order.baseSize">
  				<option value="Small">Small</option>
  				<option value="Medium">Medium</option>
  				<option value="Large">Large</option>
			</select>
        </div>
        <br/>
        <br/>
        <label for="Topping" class="col-sm-2 control-label">Select a topping</label>
        <div class="col-sm-10">
            <select ng-model="order.topping">
  				<option value="Hawaiian">Hawaiian</option>
  				<option value="Americano">Americano</option>
  				<option value="Pepperoni">Pepperoni</option>
  				<option value="Pilchard">Pilchard</option>
  				<option value="Angel Delight">Angel Delight</option>
			</select>
        </div>
        <br/>
        <br/>
        <label for="PizzaPrice" class="col-sm-2 control-label">Price</label>
        <div class="col-sm-10">
        	<input class="col-sm=10" id="price" ng-model="order.price" ng-model-options="{ updateOn: 'change' }"/>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Place Order</button>
        </div>
    </div>
  
    <script>
    $('#price').prop('readonly', true);
    
    $( "#base-size" ).change(function($scope) {
    	   if ($("#base-size").val() === "Small") {
    		  $("#price").val(5.99);
    		  $("#price").trigger('change');
    	  }
    	  if ($("#base-size").val() === "Medium") {
    		  $("#price").val(8.99);
    		  $("#price").trigger('change');
    	  }
    	  if ($("#base-size").val() === "Large") {
    		  $("#price").val(10.99);
    		  $("#price").trigger('change');
    	  }
    	});
	</script>
</form>